* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    /*border: solid 0.5px rgb(255, 0, 0);*/
}
body, html{
    height: 100%;
}

/* GENERAL */
h1{
    color: #ffffff;    
    font-family: 'Montserrat', sans-serif;   
    font-size: 48px;    
}

h2 {
    color: #ffffff;
    /*background-color: black; */
    font-family: 'Montserrat', sans-serif;   
    font-size: 96px;
}

h3 {
    color: rgba(207, 12, 0, 0.18);
    /*background-color: black; */
    font-family: 'Montserrat', sans-serif;   
    font-size: 180px;
    font-weight: 800;
    text-transform: uppercase;
}

/* HEADER */
header {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;    
}

.header__logo {
    padding: 10px;    
}

nav ul a {
    list-style-type: none;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: #1F1F1F;
    padding-bottom: 48px;
    /*padding: 20px;*/
}

nav li {
    display: inline;
    padding: 15px;
    
}

nav li a:hover{
    color: #D15847;
    font-size: 120%;
    border-bottom: 4px solid #D15847;
}

.header__redes img:hover{
    width: 45px;
    fill: #D15847;
    
}

.header__redes img{
    transition: width 1s;
    padding: 10px;
    width: 35px;
}


/* NOSOTROS */

.contacto__titulo{
    text-align: right;    
    margin-bottom: -44px;
}

.contacto__subtitulo{
    padding-left: 10%;
    background-color: rgba(209, 88, 71, 0.55);   
    height: 180px;
    position: relative;   
}
.contacto__subtitulo h2{
    display: inline-block;
    margin-top: -28px;
    text-transform: uppercase;    
}

.contacto__imagen{
    /*background-image: url("../img/nosotros.jpg");
    background-repeat: no-repeat;
    background-size: cover;   */ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    overflow: hidden;  
    margin-top: -180px;
}


.contacto img{
    width: 100%;
    margin-top: 10%;
}


/* FOOTER */

footer {
    background-color: #494949;    
}

.footer{
    filter: contrast(175%) brightness(3%) invert(1);
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 350px 50px;
    grid-template-areas: "uno dos tres"
                         "cuatro cuatro cuatro";
}

.primerElemento{
    grid-area: uno;
    align-self: center;    
}

.primerElemento img{
    width: 100%;
}

.segundoElemento{
    grid-area: dos;
}

.segundoElemento li{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.segundoElemento img{
    padding-right: 15px;
}
.segundoElemento h4, .tercerElemento h4{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.tercerElemento{
    grid-area: tres;
}

.tercerElemento__img{
    display: inline-block;
}

.tercerElemento__img img{    
    padding: 10px;
}

.cuartoElemento{
    grid-area: cuatro;    
    display: inline-block;
    font-size: 13px;
    font-family: 'Montserrat';
    align-self: baseline;
}