
/*CONTACTO*/

.contacto__titulo {
  /*margin-bottom: -7%;*/
  display: flex;
  align-items: flex-end;
  padding-left: 10%;
  /*background-image: linear-gradient(#d1584700, #cf0c0047);*/
  background-color: rgba(209, 88, 71, 0.55);
  /*height: 150px;*/
  position: relative;
  text-transform: uppercase; }

.contacto__imagen {
  /*background-image: url("../img/nosotros.jpg");
    background-repeat: no-repeat;
    background-size: cover;   */
  display: block;
  overflow: hidden;
  /*margin-top: -9%;*/
  margin-bottom: -10%; }

/* CONTACTO */
.contacto .contacto__imagen img {
  /*background-image: url("../img/contacto2.jpg");
        background-repeat: no-repeat;
        background-size: cover;   */
  width: 100%;
  /*margin-top: -17%;*/
  margin-bottom: -25%; }

iframe {
  width: 100%; }

.contacto__descripcion {
  padding: 5% 0%;
  font-family: 'Roboto Condensed', sans-serif; }
  .contacto__descripcion .contacto__descripcion__datos {
    /*border-right: 1px dashed #333;*/
    font-size: 18px; }
    .contacto__descripcion .contacto__descripcion__datos h3 {
      font-size: 24px; }
    .contacto__descripcion .contacto__descripcion__datos p {
      padding-right: 30%;
      display: block; }
    .contacto__descripcion .contacto__descripcion__datos ul {
      padding: 7% 0%; }
      .contacto__descripcion .contacto__descripcion__datos ul li {
        padding: 10px 0px; }
        .contacto__descripcion .contacto__descripcion__datos ul li span {
          padding-left: 18px; }

/* FORMULARIO */
.contacto__descripcion__formulario button {
  width: 100%; }
  

