.boton, .slider__boton button, .contacto__descripcion__formulario button {
  color: #ffffff;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  background: #D15847;
  padding: 7px 10px;
  border: solid #D15847 2px;
  text-decoration: none; }

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  /*border: solid 0.5px rgb(255, 0, 0);*/ }

body, html {
  height: 100%; }

/* GENERAL */
h1 {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  /*font-size: 48px;    */
  font-size: 3vw; }

h2 {
  color: #ffffff;
  /*background-color: black; */
  font-family: 'Montserrat', sans-serif;
  font-size: 4vw;
  font-weight: 600; }

h3 {
  /*color: rgba(207, 12, 0, 0.18);*/
  /*background-color: black;
    font-weight: 800;
    text-transform: uppercase; */
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1vw; }

/* HEADER */
.navbar-brand {
  margin-left: 5%;
  filter: contrast(175%) brightness(3%) invert(1); }

/*header {
    margin-top: -122px;
    position: relative;
    top: 120px;
    /*background-image: linear-gradient(to TOP, rgba(255,0,0,0), #212529);    
    background-color: #212529a8;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;    
}*/
.header__logo {
  padding: 10px; }

ol, ul, dl {
  margin-bottom: 0rem; }

nav ul a {
  list-style-type: none;
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
  /*color: #1F1F1F;*/
  padding-bottom: 48px;
  /*padding: 20px;*/ }

nav li {
  display: inline;
  padding: 15px; }

.navbar-dark {
  width: 100%;
  z-index: 1;
  /*margin-top: -130px;*/
  position: absolute;
  /*top: 120px;
    background-color: #212529a8;*/
  background-image: linear-gradient(to TOP, rgba(255, 0, 0, 0), #212529); }

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff; }

.navbar-dark .navbar-nav .nav-link:hover {
  color: #D15847; }

nav li a:hover {
  text-decoration: none;
  color: #D15847;
  /*font-size: 120%;*/
  /*border-bottom: 4px solid #D15847;*/ }

.header__redes img:hover {
  width: 45px;
  fill: #D15847; }

.header__redes img {
  transition: width 1s;
  padding: 10px;
  width: 35px; }

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: space-evenly; } }

/* SLIDER */
/* CONTROLES CAROUSEL*/
.carousel-control-prev, .carousel-control-next {
  /*opacity: 0;*/
  width: 8%; }

.carousel-control-prev-icon, .carousel-control-next-icon {
  width: 25px;
  height: 30px; }

.slider1 {
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.slider2 {
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.slider3 {
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.slider1 {
  background-image: url("../img/slider1.jpg"); }

.slider2 {
  background-image: url("../img/slider2.jpg"); }

.slider3 {
  background-image: url("../img/slider3.jpg"); }

.slider__filtro {
  background-color: #0000006b;
  width: 40%;
  height: 100%;
  position: relative;
  /*top: 127px;*/ }

.slider__texto {
  padding: 70px;
  padding-left: 14%;
  width: 33%;
  position: relative;
  top: -80%;
  /*Quedo como queria pero nose si es la mejor forma para colocar el texto por delante del filtro*/ }
  .slider__texto h1 {
    padding-bottom: 20px;
    text-transform: uppercase; }
  .slider__texto span {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    width: 300px; }

.slider__boton {
  position: relative;
  top: -80%;
  padding-left: 14%; }
  .slider__boton button {
    padding: 10px 20px 10px 20px; }

/* PRODUCTOS */
.categorias {
  display: flex;
  height: 400px; }
  .categorias .categorias__productoA {
    /*display: flex;
        flex-direction: column;    */
    width: 50%;
    background-image: url("../img/farmacos.jpg");
    background-size: cover;
    background-position: left; }
    .categorias .categorias__productoA a {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 4vw;
      color: #F1FAEE;
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      text-transform: uppercase;
      background-color: rgba(0, 0, 0, 0.411);
      height: 100%; }
  .categorias .categorias__productoB {
    /*height: 400px;*/
    width: 50%;
    background-image: url("../img/talabarteria.jpg");
    background-size: cover;
    background-position: left; }
    .categorias .categorias__productoB a {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 4vw;
      color: #F1FAEE;
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      text-transform: uppercase;
      background-color: rgba(0, 0, 0, 0.411);
      height: 100%; }

.categorias__productoA a:hover, .categorias__productoB a:hover {
  background-color: rgba(209, 88, 71, 0.55); }

/* CLIENTES */
/*control slider*/
.tns-outer [aria-controls], .tns-outer [data-action] {
  display: none; }

.clientes {
  /*margin-bottom: 10%;
    padding-bottom: 7%;
    margin-top: 8%;*/
  background-color: whitesmoke;
  padding: 4%; }
  .clientes .clientes__titulo {
    padding: 5%;
    /* padding: 120px; */
    padding-left: 10%;
    text-transform: uppercase; }
    .clientes .clientes__titulo h2 {
      color: #1F1F1F;
      font-size: 2vw; }

/* NOSOTROS */
.nosotros {
  padding-top: 18%; }
  .nosotros img {
    width: 100%;
    margin-top: -13%;
    margin-bottom: 4%; }
  .nosotros .nosotros__descripcion {
    padding: 10%;
    /*padding-left: 10%;*/
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    font-size: 24px;
    /*width: 70%;*/
    line-height: 1.6;
    margin-bottom: 15%; }
    .nosotros .nosotros__descripcion h3 {
      padding: 10px;
      font-size: 32px;
      color: #1F1F1F; }

/*PROPIEDADES EN COMUN*/
.nosotros__titulo, .contacto__titulo {
  /*margin-bottom: -7%;*/
  display: flex;
  align-items: flex-end;
  padding-left: 10%;
  /*background-image: linear-gradient(#d1584700, #cf0c0047);*/
  background-color: rgba(209, 88, 71, 0.55);
  /*height: 150px;*/
  position: relative;
  text-transform: uppercase; }

.nosotros__imagen, .contacto__imagen {
  /*background-image: url("../img/nosotros.jpg");
    background-repeat: no-repeat;
    background-size: cover;   */
  display: block;
  overflow: hidden;
  /*margin-top: -9%;*/
  margin-bottom: -10%; }

/* CONTACTO */
.contacto .contacto__imagen img {
  /*background-image: url("../img/contacto2.jpg");
        background-repeat: no-repeat;
        background-size: cover;   */
  width: 100%;
  margin-top: -17%;
  margin-bottom: -25%; }

iframe {
  width: 100%; }

.contacto__descripcion {
  padding: 5% 0%;
  font-family: 'Roboto Condensed', sans-serif; }
  .contacto__descripcion .contacto__descripcion__datos {
    /*border-right: 1px dashed #333;*/
    font-size: 18px; }
    .contacto__descripcion .contacto__descripcion__datos h3 {
      font-size: 24px; }
    .contacto__descripcion .contacto__descripcion__datos p {
      padding-right: 30%;
      display: block; }
    .contacto__descripcion .contacto__descripcion__datos ul {
      padding: 7% 0%; }
      .contacto__descripcion .contacto__descripcion__datos ul li {
        padding: 10px 0px; }
        .contacto__descripcion .contacto__descripcion__datos ul li span {
          padding-left: 18px; }

/* FORMULARIO */
.contacto__descripcion__formulario button {
  width: 100%; }

/* FOOTER */
footer {
  background-color: #494949; }
  footer .footer1 {
    padding: 20px; }
    footer .footer1 .row {
      filter: contrast(175%) brightness(3%) invert(1);
      padding: 50px; }
      footer .footer1 .row .primerColumna, footer .footer1 .row .segundoColumna, footer .footer1 .row .tercerColumna {
        padding: 15px 40px; }
      footer .footer1 .row .primerColumna img {
        width: 70%; }
      footer .footer1 .row .segundoColumna {
        padding-left: 9%; }
        footer .footer1 .row .segundoColumna li {
          font-family: 'Montserrat', sans-serif;
          font-weight: 400;
          font-size: 14px;
          padding-top: 10px;
          padding-bottom: 10px; }
        footer .footer1 .row .segundoColumna img {
          padding-right: 15px; }
      footer .footer1 .row h4 {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 24px;
        text-transform: uppercase;
        padding-bottom: 20px; }
      footer .footer1 .row .tercerColumna {
        padding-left: 9%; }
        footer .footer1 .row .tercerColumna img {
          padding: 10px; }
  footer .footer2 {
    background-color: #945148;
    padding: 20px; }
    footer .footer2 .cuartaColumna {
      text-align: center;
      font-size: 12px;
      font-family: 'Montserrat';
      color: white; }

/* RESPONSIVE MOBILE*/
@media (max-width: 576px) {
  .slider__texto span {
    font-size: 14px; }
  .nosotros__descripcion {
    font-size: 14px; }
  .nosotros__descripcion h3 {
    font-size: 18px; }
  .categorias__productoA, .categorias__productoB {
    height: 200px; }
  .clientes__imagenes img {
    height: 80px; }
  .navbar-brand img {
    width: 120px; }
  .slider1, .slider2, .slider3 {
    height: 500px; }
  .slider__filtro {
    top: 65%;
    width: 100%; }
  .slider__texto {
    padding: 30px;
    padding-top: 100px;
    padding-left: 14%;
    width: 75%;
    position: relative;
    top: -49%; }
  .slider__boton button {
    padding: 5px 10px 5px 10px;
    font-size: 14px; }
  .slider__boton {
    z-index: 2;
    position: absolute;
    top: 81%;
    left: 72%;
    padding-left: 0px; } }
