/* NOSOTROS */
.nosotros .nosotros__parallax {
  background-image: url("../img/nosotros.jpg");
  height: 800px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase; }

.nosotros .nosotros__descripcion {
  padding: 10%;
  /*padding-left: 10%;*/
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  font-size: 24px;
  /*width: 70%;*/
  line-height: 1.6;
  margin-bottom: 15%; }
  .nosotros .nosotros__descripcion h3 {
    padding: 10px;
    font-size: 32px;
    color: #1F1F1F; }

@media (max-width: 600px) {
  .navbar {
    height: auto; }
    .navbar .navbar-brand img {
      width: 120px; }
  .navbar-dark {
    background-color: rgba(0, 0, 0, 0.652); }
  .nosotros {
    padding-top: 20%; }
    .nosotros .nosotros__parallax {
      height: 500px; }
      .nosotros .nosotros__parallax h2 {
        font-size: 28px; }
    .nosotros .nosotros__descripcion h3 {
      font-size: 22px; }
    .nosotros .nosotros__descripcion p {
      font-size: 12px; }
  .clientes__imagenes img {
    height: 80px; }
  footer .footer1 .row .primerColumna img {
    width: 100%; }
  footer .footer1 .row .segundoColumna {
    padding-top: 50px;
    padding-left: 0; }
    footer .footer1 .row .segundoColumna li span {
      font-size: 13px; }
  footer .footer1 .row .tercerColumna {
    padding-top: 50px;
    padding-left: 0; }
    footer .footer1 .row .tercerColumna li span {
      font-size: 13px; } }
