
/* NOSOTROS */
.nosotros {
   }
  .nosotros__imagen {
    /*background-image: url("../img/nosotros.jpg");
      background-repeat: no-repeat;
      background-size: cover;   */
    display: block;
    overflow: hidden;
    /*margin-top: -9%;*/
    margin-bottom: -10%; }
  .nosotros img {
    width: 100%;
    /*margin-top: -13%;*/
    margin-bottom: 4.7%; }
  .nosotros__titulo {
    /*margin-bottom: -7%;*/
    display: flex;
    align-items: flex-end;
    padding-left: 10%;
    /*background-image: linear-gradient(#d1584700, #cf0c0047);*/
    background-color: rgba(209, 88, 71, 0.55);
    /*height: 150px;*/
    position: relative;
    text-transform: uppercase; }
  .nosotros .nosotros__descripcion {
    padding: 10%;
    /*padding-left: 10%;*/
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    font-size: 24px;
    /*width: 70%;*/
    line-height: 1.6;
    margin-bottom: 15%; }
    .nosotros .nosotros__descripcion h3 {
      padding: 10px;
      font-size: 32px;
      color: #1F1F1F; }
  




