/* SLIDER */
/* CONTROLES CAROUSEL*/
.carousel-control-prev, .carousel-control-next {
    /*opacity: 0;*/
    width: 8%; }
  
  .carousel-control-prev-icon, .carousel-control-next-icon {
    width: 25px;
    height: 30px; }
  
  .slider1 {
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  
  .slider2 {
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  
  .slider3 {
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  
  .slider1 {
    background-image: url("../img/slider6.jpg"); }
  
  .slider2 {
    background-image: url("../img/slider3.jpg"); }
  
  .slider3 {
    background-image: url("../img/slider4.jpg"); }

  .slider__producto{
    position: absolute;
    left: 55%;
    /*top: 30%;*/
    bottom: 13%;
    }
  .slider__producto img{
    width: 112%;    
    }    
  
  .slider__filtro {
    background-color: #0000006b;
    width: 40%;
    height: 100%;
    position: relative;
    /*top: 127px;*/ }
  
  .slider__texto {
    padding: 70px;
    padding-left: 14%;
    width: 38%;
    position: relative;
    top: -80%;
    /*Quedo como queria pero nose si es la mejor forma para colocar el texto por delante del filtro*/ }
    .slider__texto h1 {
      padding-bottom: 20px;
      text-transform: uppercase; }
    .slider__texto span {
      color: #ffffff;
      font-family: 'Montserrat', sans-serif;
      font-size: 24px;
      width: 300px; }
  
  .slider__boton {
    position: absolute;
    left: 14%;
    bottom: 11%;
    /*position: relative;
    top: -80%;
    padding-left: 14%;*/ }
    .slider__boton button {
      padding: 10px 20px 10px 20px; }


/* PRODUCTOS */


/* PRUEDA ESTILOS*/
.prodscol {
    float: left;
    width: calc(25% - 10px);
    margin: 5px;
    padding: 15px;
}
.product-card {
    display: block;
    position: relative;
    width: 100%;
    padding: 18px;
    border: 1px solid #e1e7ec;
    border-radius: 7px;
    background-color: #ffffff;
}
.product-card .product-thumb {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
.product-card .product-thumb > img {
    display: block;
    width: 70%;
    margin: 0 auto;
}
.product-card .product-title {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
}
.product-card .product-title > a {
    /*font-size: 12px;*/
    transition: color .3s;
    color: #374250;
    text-decoration: none;
}
.product-card .product-price {
    margin-bottom: 10px;
    color: #606975;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}
.separador {
    border-top: 1px solid #e1e7ec;
    clear: both;
    width: 100%;
    height: 1px;
}
.separador2 {
    display: none;
    border-top: 1px solid #e1e7ec;
    clear: both;
    width: 100%;
    height: 1px;
}








.productos__titulo h3{
    /*padding-left: 10%;*/
    padding: 5% 10%;
    font-size: 32px;
    background-color: rgb(245, 245, 245);
    
}

.categorias{
    display: flex;               
}

.categorias__productoA {  
    display: flex;
    flex-direction: column;    
    width: 50%;
    background-image: url("../img/farmacos.jpg");
    background-size: cover;
    background-position: left;    
}

.categorias__productoB {    
    height: 400px;
    width: 50%;
    background-image: url("../img/talabarteria.jpg");
    background-size: cover;
    background-position: left;    
}

.categorias__productoA a, .categorias__productoB a{   
    display: flex;    
    justify-content: center;    
    align-items: center;   
    font-size: 72px;
    color: #F1FAEE;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.411);
    height: 400px;    
}



.categorias__productoA a:hover, .categorias__productoB a:hover{
    background-color: rgba(209, 88, 71, 0.55)

}
