
/*CONTACTO*/
.contacto{

  iframe {
    width: 100%;
  }

  .contacto__titulo {
    /*margin-bottom: -7%;*/
    display: flex;
    align-items: flex-end;
    padding-left: 10%;
    /*background-image: linear-gradient(#d1584700, #cf0c0047);*/
    background-color: rgba(209, 88, 71, 0.55);
    /*height: 150px;*/
    position: relative;
    text-transform: uppercase; }

  .contacto__imagen {
    /*background-image: url("../img/nosotros.jpg");
      background-repeat: no-repeat;
      background-size: cover;   */
    display: block;
    overflow: hidden;
    /*margin-top: -9%;*/
    margin-bottom: -10%; 
    
    img{
      /*background-image: url("../img/contacto2.jpg");
      background-repeat: no-repeat;
      background-size: cover;   */
      width: 100%;
      /*margin-top: -17%;*/
      margin-bottom: -25%;
    }
   
  }
  /* FORMULARIO */
  .contacto__descripcion {
    padding: 5% 0%;
    font-family: 'Roboto Condensed', sans-serif;

    .contacto__descripcion__datos {
      /*border-right: 1px dashed #333;*/
      font-size: 18px;
      h3 {
        font-size: 24px; }
      p {
        padding-right: 30%;
        display: block; }
      ul {
        padding: 7% 0%; }
      ul li {
        padding: 10px 0px; }
      ul li span {
        padding-left: 18px;
      }
      
    }
  }
}
    





  

