
/*CONTACTO*/
.contacto{

  iframe {
    width: 100%;
  }

  .contacto__parallax{    
    background-image: url("../img/contacto.jpg");  
    height: 600px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;  
  }  

  /* FORMULARIO */
  .contacto__descripcion {
    padding: 5% 0%;
    font-family: 'Roboto Condensed', sans-serif;

    .contacto__descripcion__datos {
      /*border-right: 1px dashed #333;*/
      font-size: 18px;
      h3 {
        font-size: 24px; }
      p {
        padding-right: 30%;
        display: block; }
      ul {
        padding: 7% 0%; }
      ul li {
        padding: 10px 0px; }
      ul li span {
        padding-left: 18px;
      }
      
    }
  }
}
    





  

