
/* NOSOTROS */
.nosotros{
  //padding-top: 18%;
  .nosotros__parallax{    
      background-image: url("../img/nosotros.jpg");  
      height: 800px;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;  
  }
  
  .nosotros__descripcion{ 
      padding: 10%;
      /*padding-left: 10%;*/
      font-family: 'Montserrat', sans-serif; 
      text-align: justify;
      font-size: 24px;
      /*width: 70%;*/
      line-height: 1.6;  
      margin-bottom: 15%;  
      h3{
          padding: 10px;
          font-size: 32px;
          color: #1F1F1F;
      }
  }    
}




